<div [formGroup]="form">
  <div [ngSwitch]="control.controlType">
    <app-ctr-text-box
      *ngSwitchCase="ControlType.TextBox"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    ></app-ctr-text-box>
    <app-ctr-dropdown-list
      *ngSwitchCase="ControlType.Dropdown"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    ></app-ctr-dropdown-list>
    <app-ctr-date-time
      *ngSwitchCase="ControlType.DateTime"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    ></app-ctr-date-time>
    <app-ctr-check-box
      *ngSwitchCase="ControlType.CheckBox"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    ></app-ctr-check-box>
    <app-ctr-check-box-list
      *ngSwitchCase="ControlType.CheckBoxList"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    ></app-ctr-check-box-list>
    <app-ctr-radio-button-list
      *ngSwitchCase="ControlType.RadioButtonList"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    >
    </app-ctr-radio-button-list>
    <app-ctr-slide-toggle
      *ngSwitchCase="ControlType.SlideToggle"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    ></app-ctr-slide-toggle>
    <app-ctr-auto-complete-text-box
      *ngSwitchCase="ControlType.AutoCompleteTextBox"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    >
    </app-ctr-auto-complete-text-box>
    <app-ctr-dropdown-list-multiple-select
      *ngSwitchCase="ControlType.DropdownMultipleSelect"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    >
    </app-ctr-dropdown-list-multiple-select>
    <app-ctr-text-box-mask
      *ngSwitchCase="ControlType.TextBoxMask"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    >
    </app-ctr-text-box-mask>
    <app-ctr-text-box-password
      *ngSwitchCase="ControlType.TextBoxPassword"
      [attr.id]="control.key"
      [control]="control"
      [formControlName]="control.key"
      [formControl]="getFormControl"
    >
    </app-ctr-text-box-password>
    <app-ctr-empty-control
      *ngSwitchCase="ControlType.EmptyControl"
      [attr.id]="control.key"
      [control]="control"
    >
    </app-ctr-empty-control>
    <app-ctr-text-view
      *ngSwitchCase="ControlType.TextViewControl"
      [attr.id]="control.key"
      [control]="control"
    >
    </app-ctr-text-view>
    <app-ctr-vertical-horizontal-list
      *ngSwitchCase="ControlType.VerticalHorizontalList"
      [form]="form"
      [attr.id]="control.key"
      [control]="control"
    >
    </app-ctr-vertical-horizontal-list>
  </div>
</div>
