<style>
  .vertical-group {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }
</style>

<div [formGroup]="form">
  <label
    *ngIf="control.label && control.label !== ''"
    [attr.for]="control.key"
    [ngStyle]="{ display: control.hideTextHeader === true ? 'None' : '' }"
    >{{ control.label | translate }}
    <span *ngIf="isRequired" style="color: red">*</span></label
  >
  <div [class]="control.classCss">
    <div class="{{ control.showVertical ? '' : 'vertical-group' }}">
      <div
        *ngFor="let controlChild of control.children; let controlIndex = index"
        class="{{ control.showVertical === false ? 'col' : '' }}"
        [ngStyle]="{
          padding: control.showVertical === true ? '5px' : '0px',
          'margin-right':
            control.showVertical === false &&
            controlIndex <
              (control.children !== undefined ? control.children.length : 0) - 1
              ? '15px'
              : '0px'
        }"
      >
        <div [ngSwitch]="controlChild.controlType">
          <app-ctr-text-box
            *ngSwitchCase="ControlType.TextBox"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          ></app-ctr-text-box>
          <app-ctr-dropdown-list
            *ngSwitchCase="ControlType.Dropdown"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          ></app-ctr-dropdown-list>
          <app-ctr-date-time
            *ngSwitchCase="ControlType.DateTime"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          ></app-ctr-date-time>
          <app-ctr-check-box
            *ngSwitchCase="ControlType.CheckBox"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          ></app-ctr-check-box>
          <app-ctr-check-box-list
            *ngSwitchCase="ControlType.CheckBoxList"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          ></app-ctr-check-box-list>
          <app-ctr-radio-button-list
            *ngSwitchCase="ControlType.RadioButtonList"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          >
          </app-ctr-radio-button-list>
          <app-ctr-slide-toggle
            *ngSwitchCase="ControlType.SlideToggle"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          ></app-ctr-slide-toggle>
          <app-ctr-auto-complete-text-box
            *ngSwitchCase="ControlType.AutoCompleteTextBox"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          >
          </app-ctr-auto-complete-text-box>
          <app-ctr-dropdown-list-multiple-select
            *ngSwitchCase="ControlType.DropdownMultipleSelect"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          >
          </app-ctr-dropdown-list-multiple-select>
          <app-ctr-text-box-mask
            *ngSwitchCase="ControlType.TextBoxMask"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          >
          </app-ctr-text-box-mask>
          <app-ctr-text-box-password
            *ngSwitchCase="ControlType.TextBoxPassword"
            [attr.id]="controlChild.key"
            [control]="controlChild"
            [formControlName]="controlChild.key"
            [formControl]="getFormControl(controlChild)"
          >
          </app-ctr-text-box-password>
          <app-ctr-empty-control
            *ngSwitchCase="ControlType.EmptyControl"
            [attr.id]="controlChild.key"
            [control]="controlChild"
          >
          </app-ctr-empty-control>
          <app-ctr-text-view
            *ngSwitchCase="ControlType.TextViewControl"
            [attr.id]="controlChild.key"
            [control]="controlChild"
          >
          </app-ctr-text-view>
        </div>
      </div>
    </div>
  </div>
</div>
