<div>
  <span
    class="material-icons close"
    (click)="actionClick('n')"
    title="{{ 'close' | translate }}"
    style="cursor: pointer"
  ></span>

  <h2 class="dialog-title">{{ FormTitle | translate }}</h2>
  <mat-dialog-content [innerHTML]="data.message"></mat-dialog-content>
  <mat-dialog-actions align="end" class="mt-2">
    <button class="btn btn-outline-primary cancel" (click)="actionClick('n')">
      {{ ButtonCloseLabel | translate }}
    </button>
    <button class="btn btn-primary save" (click)="actionClick('y')">
      {{ ButtonConfirmLabel | translate }}
    </button>
  </mat-dialog-actions>
</div>
