$background-button: #2969e3;

.dialog-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #333333;
}

.btn-close {
  width: 120px;
}

.mat-dialog-content {
  font-size: 14px !important;
}
