.tag {
    &__heading {
        padding: 10px 0;
        font-weight: 600;
    }

    &__title {
        padding-bottom: 8px;
    }

    &__button {
        min-height: 48px;
        min-width: 120px;
        margin-top: 10px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__filter-panel {
        margin-bottom: 8px;

        &__desc {
            justify-content: flex-end;
        }
    }

    &__sort-panel {
        display: flex;
        justify-content: flex-end;
    }
}